{{- $cronjobContainers := dict -}}
{{- range $cronjobName, $cronjobValues := .Values.cronjobs }}
{{- range $i, $container := $cronjobValues.containers }}
  {{- $_ := set $cronjobContainers (include "<CHARTNAME>.containerName" (dict "prefix" $cronjobName "container" $i)) $container -}}
{{- end -}}
{{- end -}}
{{- $jobContainers := dict -}}
{{- range $jobName, $jobValues := .Values.jobs }}
{{- range $i, $container := $jobValues.containers }}
  {{- $_ := set $jobContainers (include "<CHARTNAME>.containerName" (dict "prefix" $jobName "container" $i)) $container -}}
{{- end -}}
{{- end -}}
{{- range $i, $container := (merge $jobContainers $cronjobContainers .Values.containers ) }}
{{- if and $container.config $container.config.env }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "<CHARTNAME>.containerObjectName" (dict "root" $ "container" $i) }}
  labels:
    {{- include "<CHARTNAME>.labels" $ | nindent 4 }}
data: {{- tpl (( default dict $container.config.env ) | toYaml) . | nindent 2 }}
{{- end }}
{{- end }}
