{{- range $i, $container := .Values.containers }}
{{- if and $container.config $container.config.env }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "<CHARTNAME>.containerObjectName" (dict "root" $ "container" $i) }}
  labels:
    {{- include "<CHARTNAME>.labels" $ | nindent 4 }}
data: {{- tpl (( default dict $container.config.env ) | toYaml) . | nindent 2 }}
{{- end }}
{{- end }}
