name: Helm Chart Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0


      - name: Set up Chart Testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Run Makefile Test
        run: make test